body *,body{
	margin:0;
	padding:0;
}
header, footer{
	background-color:#85ADCB;
	width:100%;
	color:white;
	padding:1%;
}
article {
	background:white;
	width:100%;
}
article * {
	margin:1%;
}

.menu {
	margin:1%;
}
ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul:after {
	display: block;
	content: ' ';
	clear: both;
	float: none;
}
ul.menu > li {
	float: left;
	position: relative;
}
ul.menu > li > a {
	text-decoration:none;
	font-weight:bold;
	color:black;
	padding:5px 10px;
	font-size:1.5em;
}
ul.menu > li > a:hover, ul.submenu > li > a:hover{
	color:white;     /*когда наводишь*/
	background-color:#04B45F;
	transition: 0.5s;
}
ul.submenu {
	display: none;
	position: absolute;
	width: 120px;
	top: 30px;
	left: 0;
	background-color: white;
}
ul.submenu > li {
	display: block;
}
ul.submenu > li > a {
	display: block;
	padding: 10px;
	color: white;
	background-color: #838383;
	text-decoration: none;
}

ul.menu > li:hover > ul.submenu {
	display: block;
}
